@import '../../../styles/variables.scss';

.inputDiv {
  padding: 12px;
  min-height: 50px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #424242;
  outline: none;
  white-space: normal;
  word-break: break-word;
  color: rgba(255, 255, 255, 0.85);
  background-color: #141414;
  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $primary-color;
  }
}
