@use '../../styles/variables.scss' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.label {
  max-height: fit-content;
}

.dropZoneWrapper {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border: 1px solid $border;
  background-color: #141414;
  color: $light;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.cropper {
  margin-top: 15px;
  width: 300px;
  height: 300px;
  background: #000000;
}

.dzBtnWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  button {
    width: 45%;
  }
}

.hide {
  display: none;
}
