@use './variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: text;

  &::selection {
    color: $accent;
    background-color: #000;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: $dark;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $dark;
  }

  /* button */
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid $light;
    border-radius: 10px;
    &:hover {
      background: $primary-color;
      outline: 1px solid #000;
    }
  }
}

a {
  text-decoration: none;
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #666368;
  font-size: 17px;
}

// google maps override style
.pac-container {
  background-color: $dark;
  border-top-color: $border !important;
  z-index: 1010 !important;

  .pac-item {
    cursor: pointer;
    color: $light !important;
    border-top-color: $border !important;

    &:hover {
      color: #000 !important;

      .pac-item-query {
        color: $accent !important;
      }
    }

    .pac-item-query {
      color: $primary-color !important;
    }
  }
}
