@import '../../styles/variables.scss';

.mainBtn {
  width: 100%;
  height: 48px;
}

.title {
  font-size: 24px;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.tripItemWrapper,
.tripsWrapper {
  padding: 25px 35px;
}

.tripsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 25px;
  row-gap: 15px;
}

.editBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  button {
    width: 45%;
  }
}

.comment {
  margin-top: 15px;
  font-size: 16px;
  color: $light;
  font-style: italic;
}
