@use '../../styles/variables.scss' as *;

.wrapper {
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  height: 65px;
  border-bottom: 1px solid $border;
  background-color: $dark;
  margin-bottom: 25px;
  z-index: 1000;
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 15px 0;
}

.userWrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.name {
  color: $accent !important;
}

.activeMenu {
  background-color: $primary-color !important;
}
