.settingBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 7px;
}

.accordionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 25px;
}

.addWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 300px;
}
