@import '../../styles/variables.scss';

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 35px;
  margin-bottom: 25px;
}

.title {
  text-align: center;
  font-size: 48px;
  color: $primary-color;
}

.wrapper {
  padding: 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
  row-gap: 15px;
}
