@use '../../../styles/variables.scss' as *;

.searchInput {
  width: 300px !important;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

.cardList {
  background-color: $dark;
  position: absolute;
  top: 65px;
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 500px;
  border-radius: 6px;
  z-index: 15;
  max-height: 90vh;
  overflow: hidden;
}

.card {
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  color: #fff;
  border: 1px solid $border;
  &:hover {
    color: $accent;
    border-color: $primary-color;
  }
}
