@import '../../styles/variables.scss';

.deleteBtn {
  margin-bottom: 7px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;

  button {
    flex: 1;
  }
}

.card {
  cursor: move;
}

.dayItem {
  min-height: 35px;
  height: fit-content;
}

.placeWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 25px;
}

.gm {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.gmText {
  font-size: 18px;
  color: $light;
}
