@use '../../../styles/variables.scss' as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 25px;
  row-gap: 15px;
}

.active {
  border: 2px solid $primary-color !important;
}
