@use '../../../styles/variables.scss' as *;

.wrapper {
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  grid-template-rows: auto;
  column-gap: 25px;
  row-gap: 15px;
}

.itemWrapper {
  padding: 0 25px;
}

.title {
  text-align: center;
  font-size: 48px;
  color: $primary-color;

  a {
    color: $accent;
  }
}
